body{
background-image:url("images/springgrd.jpg");
background-attachment: fixed;


}
	
#header {
	position: static;
	background-image: url("images/springgrd1.jpg"); 
}

h1 {
	text-transform: uppercase;
	font-family: papyrus;
	font-style: italic;
	font-weight: bold;
	text-align: center;
	color: #04231d ;
	letter-spacing: 4px;
	word-spacing: 8px;
	
}

h2{
	font-family: helvetica;
	color: #04231d ;
	text-align: center;
	font-weight: lighter;
	font-size: large;
	
}

h3{
	text-transform: capitalize;
	font-family:Brush Script MT;
	color: #aacdc8;
	letter-spacing: 4px;
	word-spacing: 8px;
}

p{
	font-family:Courier New;
}
.aboutmecard p {
	color:#d5e2de;
}
	

#wrapper {
	width: 1000px;
	background-image: url("images/springbg.jpg");
	background-attachment: fixed;
	margin-left: 50px;
	margin-right: 50px;
	padding-left: 25px;
	padding-right: 25px;
	}
.aboutme {
	 width: 800px;
		margin: auto;
		display: block;
		padding: 10px; 
	background-color:#ff387d;
	height: 250px;
	
	}

	
.aboutmecard {
	
	width: 400px;
	float: left;
	margin-left: 30px;
	margin-bottom: 15px;
	border: 3px solid #71b6a1;
	border-radius: 5px;
	padding-left:20px;
	padding-right:20px;
	height: 230px;
	display: inline;
	color: black;
} 	
.aboutmeimgcard {
	
	width: 150px;
	float: left;
	margin-left: 50px;
	margin-bottom: 15px;
	padding-left:20px;
	padding-right:20px;
	padding-top: 20px;
	height: 210px;
	display: inline;
	background-color: black;
	border: 3px solid #71b6a1;
	border-radius: 5px;
	
}
#list {
	width: 800px;
	background-color: #de94ab;
	margin: auto;
	display: block;
	padding: 10px; 
	}
	li{
		font-family:Verdana ;
		color: #216b54;
		padding:3px;
	}
	#list h3 {
		color:#216b54;
	}
 
 #thetable{
	 width: 550px;
	 background-image:url("images/tablebg.jpg");
	 margin: auto;
	display: block;
	padding: 10px;
 }
 #thetable h3{
	  color:#14322b;
 }
 
 
table {
width : 100%;
background-image:url("images/springbg1.jpg"); 
}
th{
background-color:#14322b;
color: #ebcdd4 ;
border: 2px solid;
border-color : #14322b;
padding: 5px;

}
td{
background-image:url("images/tablebg.jpg");
border: 1px inset;
border-color : #14322b;
padding: 5px;


}

.gallerycontainer {
	 width: 1000px;
	 height: 350px;
	background-color:#c3e0d2;
	
	}
	
.gallerycontainer h3 {
	color:#3c1f2d;
	text-align:center;
	text-decoration: underline;
}

	
.gallerycard {
	
	width: 280px;
	float: left;
	margin-left: 5px;
	margin-bottom: 15px;
	border: 1px solid #3c1f2d;
	border-radius: 5px;
	padding-left:10px;
	padding-right:30px;
	height: 250px;
	display: inline;
	color: black;
} 

a:hover {
	opacity:0.5;
}

#footer{
	width:1000 px;
	height:300 px;
	background-color: #f7f7d2;

}
#footer a{
	 float: left;
  color: #3c044d;
  text-decoration: underline;
  font-size: 14px;
  width: 25%;
  text-align: center; 
}

#footer a:visited{
	
	color: #2d0ad6;
	
}

	





		


